In [25]:
import os
import sys
import requests

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import plot_roc_curve
from sklearn.metrics import accuracy_score, classification_report

In [37]:
import pandas as pd
AAPL = pd.read_csv("Stock.csv", parse_dates=["Date"], index_col="Date")

In [38]:
AAPL.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  64.421997  62.200001  62.400002  64.106003  21761000.0  64.106003
2018-01-03  65.050003  63.110001  64.199997  63.450001  22607500.0  63.450001
2018-01-04  63.709999  61.136002  62.574001  62.924000  49731500.0  62.924000
2018-01-05  63.448002  62.400002  63.324001  63.316002  22956000.0  63.316002
2018-01-08  67.403999  63.099998  63.200001  67.281998  49297000.0  67.281998

In [42]:
AAPL.Close.resample('W').mean()

Date
2018-01-07     63.449001
2018-01-14     67.162799
2018-01-21     69.090500
2018-01-28     69.229199
2018-02-04     69.706400
                 ...
2021-02-21    790.762497
2021-02-28    702.616003
2021-03-07    655.492004
2021-03-14    659.593994
2021-03-21    678.931995
Freq: W-SUN, Name: Close, Length: 168, dtype: float64