In [1]:
bob=['Bob Smith',42,3000,'software']
sue=['Sue Jones',45,4000,'hardware']

In [2]:
bob[0].split()[-1]

'Smith'

In [3]:
bob

['Bob Smith', 42, 3000, 'software']

In [4]:
sue

['Sue Jones', 45, 4000, 'hardware']

In [5]:
bob[2]*=1.25

In [6]:
bob

['Bob Smith', 42, 3750.0, 'software']

In [7]:
people=[bob,sue]

In [8]:
people[1]

['Sue Jones', 45, 4000, 'hardware']

In [9]:
for person in people:
    print(person[0].split())
    person[2] *=1.20
    print(person[2])

['Bob', 'Smith']
4500.0
['Sue', 'Jones']
4800.0

In [10]:
pays = [person[2] for person in people]

In [11]:
pays

[4500.0, 4800.0]

In [12]:
sum(person[2] for person in people)

9300.0

In [13]:
sum(pays)

9300.0

In [14]:
people

[['Bob Smith', 42, 4500.0, 'software'], ['Sue Jones', 45, 4800.0, 'hardware']]

In [15]:
people.append(['Manish Aneja',46,0,'IT Professional'])

In [16]:
people

[['Bob Smith', 42, 4500.0, 'software'],
 ['Sue Jones', 45, 4800.0, 'hardware'],
 ['Manish Aneja', 46, 0, 'IT Professional']]

In [17]:
people[0][0]

'Bob Smith'

In [18]:
name,age,pay=range(3)

In [19]:
name,age,pay

(0, 1, 2)

In [20]:
bob[name]

'Bob Smith'

In [21]:
bob[pay]

4500.0

In [22]:
bob[age]

42

In [23]:
bob=[['Name','Bob Smith'],['Age',67],['Pay',9000]]

In [24]:
bob

[['Name', 'Bob Smith'], ['Age', 67], ['Pay', 9000]]

In [25]:
bob[1]

['Age', 67]

In [26]:
sue=[['Name','Sue Jones'],['Age',56],['Pay',4000]]

In [27]:
sue

[['Name', 'Sue Jones'], ['Age', 56], ['Pay', 4000]]

In [28]:
sue[1][0]

'Age'

In [29]:
people=[bob,sue]

In [30]:
people

[[['Name', 'Bob Smith'], ['Age', 67], ['Pay', 9000]],
 [['Name', 'Sue Jones'], ['Age', 56], ['Pay', 4000]]]

In [31]:
for person in people:
    print(person[0][1],person[2][1])

Bob Smith 9000
Sue Jones 4000

In [32]:
for  person in people:
    for (name,value) in person:
        if name == 'Age': print(value)

67
56

In [33]:
bob={'Name':'Bob Smith','Age':34,'Pay':7999}

In [34]:
sue={'Name':'Sue Jones','Age':34,'Pay':3455 }

In [35]:
bob['Name']

'Bob Smith'

In [36]:
bob

{'Name': 'Bob Smith', 'Age': 34, 'Pay': 7999}

In [37]:
sue

{'Name': 'Sue Jones', 'Age': 34, 'Pay': 3455}

In [38]:
names=['Name','Age','Pay','Job']

In [39]:
values=['Manish Aneja',46,45000,'Software Developer']

In [40]:
dic=dict(list(zip(names,values)))

In [41]:
print(dic['Name'])

Manish Aneja